@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@1,300&family=Open+Sans&family=Poppins&display=swap');

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signout-div{
  display: flex;
  align-self: flex-end;
  
  
  margin-top:5px;
  
  margin-left: 32px;
}

.fields {
  display: flex;
  flex-direction: column;
}

.signup-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  justify-content: space-evenly;

}

.signup {
  background: #7079f0;
  color: white;
  font-family: inherit;
  padding: 0.45em;
  padding-left: 1.0em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3em;

}

.bn3 {
  display: inline-block;
  padding: 0.7em 2.0em;
  margin: 0 0.5em 0.1em 0;
  border: 0.18em solid #FFC0CB;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #2f74c0;
  text-shadow: 0 0.04em 0.04em #FFC0CB;
  text-align: center;
  transition: all 0.2s;
}

.bn3:hover {
  color: black;
  background-color: #FFC0CB;
}

.arrow-div {
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7a8cf3;
  right: 0.3em;
  transition: all 0.3s;
}

.contactButton:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em #5566c2;
}

.contactButton:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em #5566c2;
}

.iconButton {
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7a8cf3;
  right: 0.3em;
  transition: all 0.3s;

}

.name {
  
  padding: 15px;
  
}

body,
div,
h1,
p {
  margin: 0;
  padding: 0;
}

.signup-box {
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 150%;
  align-self: center;
  background: white;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}


.text-class {
  color: white;
  text-align: center;
}

.center-text {
  text-align: start;
  /* Center the text horizontally within its container */
  position: static;
  margin-top: 50px;
  padding: 20px;
  /* This value should be adjusted as needed */
}

.top-div {
  text-align: start;
  /* Center the text horizontally within its container */
  display: inline;
  align-items: center;

  margin-right: 100px;
  margin-top: 50px;
  padding: 20px;
  /* This value should be adjusted as needed */
}

.text-div {
  margin-top: 50px;
  margin-right: 100px;
  font-family: 'Poppins', sans-serif;
  padding: 20px;

}

.bg-image {
  position: relative;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url("/public/mountain.jpg");
  background-repeat: no-repeat;
  background-position: center;
}




.input__box {
  width: 100%;
  border-radius: 20px;
  padding: 20px 30px;
  justify-content: baseline;
  font-size: 12px;
  border: none;
  position: static;
  transition: 0.2s;
  font-family: 'Poppins', sans-serif;
  box-shadow: inset 0 0 5px black;
}

.input__box:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
  outline: none;
}

.input_submit {
  position: static;
  width: 50px;
  height: 50px;
  margin: 12px;
  border-radius: 50px;
  right: 0px;
  border: none;
  font-size: 15px;
  background-color: #2f74c0;
  color: white;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
}

.input_submit:hover {
  background-color: #388ae2;
}

.input_submit:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px black;
}

.container {
  display: flex;
  padding: 50px;
  flex-direction: column;
  padding-top: 20px;
}

.todos {
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 150%;
  align-self: center;
  background-color: white;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  max-height: 500px;
  overflow: hidden visible;
  word-wrap: break-word;
  white-space: nowrap;
}

.dragactive {
  background-color: rgb(0, 221, 236);
}

.dragcomplete {
  background-color: rgb(255, 38, 0);
  align-self: flex-start;
}

.remove {
  background-color: transparent;
}

.todos__heading {
  font-size: 15px;
  color: black;
}

.todos__single {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  padding: 5px;
  margin-top: 15px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}

.drag {
  box-shadow: 0 0 20px black;
}

.todos__single:hover {
  box-shadow: 0 0 5px black;
  transform: scale(1.03);
}

.todos__single--text {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
  max-width: 200px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.todos__single--text:focus {
  outline: none;
  text-align: center;
}

.view-button {
  outline: none;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background-color: transparent;
  cursor: pointer;
  font-size: 10px;
  color: inherit;
  /* Ensure text color remains unchanged */
  transition: color 0.2s;
  /* Smooth transition for color change */
}

.view-button:hover {
  color: blue;
  /* Change the text color to blue on hover */
}

.clear {
  outline: none;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  /* Ensure text color remains unchanged */
  transition: color 0.2s;
  /* Smooth transition for color change */
}


.button-div {
  outline: none;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  /* Ensure text color remains unchanged */
  transition: color 0.2s;
  /* Smooth transition for color change */
}

.item-count {
  display: flex;
  align-self: flex-start;
  margin-top: 10px;
  font-size: 10px;
}

.footer-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

/*.icons-end
  {
    align-items: start;
  }
  */

.icon_delete {
  font-size: 22px;
  cursor: pointer;
  margin-left: auto;
  align-self: center;
  /* Push icon_delete to the right end (end of the div) */
}

.icon_done {
  font-size: 20px;
  cursor: pointer;
  align-self: center;
  margin-right: 50px;
}



@media (max-width: 1100px) {
  .todos {
    max-width: 95%;
    word-wrap: break-word;
    white-space: nowrap;

  }

  .todos__single--text {
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 20px;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}

@media (max-width: 700px) {
  .input {
    width: 95%;
  }

  .container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .todos {
    width: 95%;
    margin-bottom: 10px;
    word-wrap: break-word;
    white-space: nowrap;

  }

  .signup-box {
    width: 95%;
    margin-bottom: 10px;
  }
}